﻿
<div ng-app="GameApp">
    <div ng-controller="MainCtrl">

        <div class="row">
            <div class="col-md-6" ng-repeat="user in usersArray">
                <h3>{{user}}</h3>
                <br />
                <span ng-if="user === 'User'">
                    <label ng-repeat-start="label in labelsArray">
                        {{label.name}}
                    </label>
                    <input ng-model="selectedLabel" ng-value="label" type='radio' name="UserGroup" ng-click="setDefault(label)" />
                    <br ng-repeat-end>
                </span>

                <span ng-if="user === 'Computer'">
                    <label ng-repeat-start="label in labelsArray">
                        {{label.name}}
                    </label>
                    <input ng-model="selectedLabelByComputer" ng-value="label" type='radio' name="ComputerGroup" disabled />
                    <br ng-repeat-end>
                </span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12" style="text-align:center;">
                <input type="button" value="Compare" ng-click="compareLabels()" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-12" style="text-align:center;">
                <h3>
                    {{result}}
                </h3>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">

    var myApp = angular.module('GameApp', []);

    myApp.controller('MainCtrl', function ($scope, $log, $http) {
        $scope.usersArray = [
            "User",
            "Computer"
        ];

        $scope.labelsArray = [
            { name: "Rock", isDefault: true },
            { name: "Paper", isDefault: false },
            { name: "Scissors", isDefault: false }
        ];

        $scope.selectedLabel = {};
        $scope.selectedLabelByComputer = {};
        $scope.result = "";

        $scope.setDefault = function (label) {
            angular.forEach($scope.labelsArray, function (label) {
                label.isDefault = false; //set them all to false
            });
            label.isDefault = true; //set the clicked one to true
            $scope.selectedLabel = label;
        };

        $scope.compareLabels = function () {
           
            if (!angular.equals({}, $scope.selectedLabel)) {
                $http.get("/Api/ComputerChoice/")
                    .success(function (data, status, headers, config) {
                       
                        $scope.selectedLabelByComputer = FindCorrectModel($scope.labelsArray, MakeChoice(data));
                        $scope.result = CompareChoices($scope.selectedLabel.name, $scope.selectedLabelByComputer.name);
                    })
                    .error(function (data, status, header, config) {
                        $scope.result = "Data: " + data +
                            "<br />status: " + status +
                            "<br />headers: " + jsonFilter(header) +
                            "<br />config: " + jsonFilter(config);
                    });


            }
            else {
                alert("Please make a decision")
            }

        };

        function FindCorrectModel(arr, name) {
            for (var i = 0; i < arr.length; i++) {
                if (arr[i].name === name) return arr[i];
            }
        }

    });

    function MakeChoice(computerChoice) {

        if (computerChoice <= 0.24) {
            computerChoice = "Rock";
        } else if (computerChoice > 0.24 && computerChoice <= 0.50) {
            computerChoice = "Paper";
        } else {
            computerChoice = "Scissors";
        }

        return computerChoice;
    }


    function CompareChoices(choice1, choice2) {

        if (choice1 === choice2) {
            return "The result is a tie!\nPlease make a new choice...";
        }

        switch (choice1) {
            case "Rock": return choice2 === "Paper" ? "Paper Wins!" : "Rock Wins!";
            case "Paper": return choice2 === "Rock" ? "Paper Wins!" : "Scissors Wins!";
            case "Scissors": return choice2 === "Rock" ? "Rock Wins!" : "Scissors Wins!";

            default: return "The result is a tie!\nPlease make a new choice..."
        }

    };
</script>
